.tw-form-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

.tw-form-input.--error .tw-form-input__input-element {
    border-color: #d5493b
}

.tw-form-input.--with-password-reveal .tw-form-input__input-element {
    padding-right: 45px
}

.tw-form-input.--with-clear-button .tw-form-input__input-element {
    padding-right: 25px
}

.tw-form-input__control-wrapper {
    position: relative
}

.tw-form-input__input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative
}

.tw-form-input__icon {
    color: #8d919a;
    left: 10px;
    pointer-events: none;
    position: absolute;
    top: 2px
}

.tw-form-input.--size-26-px .tw-form-input__input-element,.tw-form-input.--size-26-px .tw-form-input__loading-container {
    height: 26px
}

.tw-form-input.--size-26-px.--with-icon .tw-form-input__input-element {
    padding-left: 29px
}

.tw-form-input.--size-26-px .tw-form-input__icon {
    line-height: 22px
}

.tw-form-input.--size-28-px .tw-form-input__input-element,.tw-form-input.--size-28-px .tw-form-input__loading-container {
    height: 28px
}

.tw-form-input.--size-28-px.--with-icon .tw-form-input__input-element {
    padding-left: 29px
}

.tw-form-input.--size-28-px .tw-form-input__icon {
    line-height: 24px
}

.tw-form-input.--size-34-px .tw-form-input__input-element,.tw-form-input.--size-34-px .tw-form-input__loading-container {
    height: 34px
}

.tw-form-input.--size-34-px.--with-icon .tw-form-input__input-element {
    padding-left: 29px
}

.tw-form-input.--size-34-px .tw-form-input__icon {
    line-height: 30px
}

.tw-form-input.--size-42-px .tw-form-input__input-element,.tw-form-input.--size-42-px .tw-form-input__loading-container {
    height: 42px
}

.tw-form-input.--size-42-px.--with-icon .tw-form-input__input-element {
    padding-left: 29px
}

.tw-form-input.--size-42-px .tw-form-input__icon {
    line-height: 38px
}

.tw-form-input__password-reveal-icon {
    font-size: 16px
}

.tw-form-input__input-element[type=number]::-webkit-inner-spin-button,.tw-form-input__input-element[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.ck-body-wrapper .ck-link-form .ck-input-text,.tw-form-input__input-element {
    background: #fff;
    border: 1px solid #d4d6db;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #323742;
    font-size: inherit;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    padding: 0 10px;
    width: 100%
}

.ck-body-wrapper .ck-link-form .ck-input-text:hover,.tw-form-input__input-element:hover {
    border-color: #696f7a
}

.ck-body-wrapper .ck-link-form .ck-input-text.--active: not(.--error),.ck-body-wrapper .ck-link-form .ck-input-text:focus,.ck-body-wrapper .ck-link-form .ck-input-text:focus-within,.tw-form-input__input-element.--active:not(.--error),.tw-form-input__input-element:focus,.tw-form-input__input-element:focus-within {
    border-color:#27b6ba
}

.ck-body-wrapper .ck-link-form .ck-input-text.--error,.tw-form-input__input-element.--error {
    border-color: #d5493b
}

.ck-body-wrapper .ck-link-form .ck-input-text:disabled,.tw-form-input__input-element:disabled {
    -webkit-text-fill-color: #b0b4bb;
    background: #eef0f2;
    border-color: #d4d6db;
    color: #b0b4bb;
    -webkit-opacity: 1
}

.ck-body-wrapper .ck-link-form .ck-input-text:-moz-placeholder-shown,.tw-form-input__input-element:-moz-placeholder-shown {
    text-overflow: ellipsis
}

.ck-body-wrapper .ck-link-form .ck-input-text:-ms-input-placeholder,.tw-form-input__input-element:-ms-input-placeholder {
    text-overflow: ellipsis
}

.ck-body-wrapper .ck-link-form .ck-input-text:placeholder-shown,.tw-form-input__input-element:placeholder-shown {
    text-overflow: ellipsis
}

.ck-body-wrapper .ck-link-form .ck-input-text::-webkit-input-placeholder,.tw-form-input__input-element::-webkit-input-placeholder {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-form .ck-input-text::-moz-placeholder,.tw-form-input__input-element::-moz-placeholder {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-form .ck-input-text:-ms-input-placeholder,.tw-form-input__input-element:-ms-input-placeholder {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-form .ck-input-text::-ms-input-placeholder,.tw-form-input__input-element::-ms-input-placeholder {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-form .ck-input-text::placeholder,.tw-form-input__input-element::placeholder {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-form .ck-input-text::-ms-clear,.tw-form-input__input-element::-ms-clear {
    display: none
}

.ck-body-wrapper .ck-link-form .ck-input-text::-webkit-input-placeholder,.tw-form-input__input-element::-webkit-input-placeholder {
    font-size: inherit;
    font-weight: 400;
    line-height: 20px
}

.ck-body-wrapper .ck-link-form .ck-input-text:-moz-placeholder,.ck-body-wrapper .ck-link-form .ck-input-text::-moz-placeholder,.tw-form-input__input-element:-moz-placeholder,.tw-form-input__input-element::-moz-placeholder {
    font-size: inherit;
    font-weight: 400
}

.ck-body-wrapper .ck-link-form .ck-input-text:-ms-input-placeholder,.tw-form-input__input-element:-ms-input-placeholder {
    font-size: inherit;
    font-weight: 400;
    line-height: 20px
}

.ck-body-wrapper .ck-link-form .ck-input-text.--new-ui,.tw-form-input__input-element.--new-ui {
    background: #eef0f2;
    border: 1px solid transparent
}

.ck-body-wrapper .ck-link-form .ck-input-text.--new-ui.--active: not(.--error),.ck-body-wrapper .ck-link-form .ck-input-text.--new-ui:focus,.ck-body-wrapper .ck-link-form .ck-input-text.--new-ui:focus-within,.tw-form-input__input-element.--new-ui.--active:not(.--error),.tw-form-input__input-element.--new-ui:focus,.tw-form-input__input-element.--new-ui:focus-within {
    background:#fff;
    border-color: #5ec4c7
}

.ck-body-wrapper .ck-link-form .ck-input-text.--transparent,.tw-form-input__input-element.--transparent {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #b0b4bb;
    display: block
}

.ck-body-wrapper .ck-link-form .ck-input-text.--transparent: focus,.tw-form-input__input-element.--transparent:focus {
    border-bottom:1px solid #5ec4c7
}

.ck-body-wrapper .ck-link-form .ck-input-text.--no-border,.tw-form-input__input-element.--no-border {
    border: none
}

.tw-form-input.--loading {
    background-color: #eef0f2;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    pointer-events: none
}

.tw-form-input__loading-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tw-form-input__password-reveal {
    -webkit-touch-callout: none!important;
    -webkit-user-drag: none;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.tw-form-input__clear-button {
    color: #696f7a;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 55%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%)
}

.tw-form-input__tooltip {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #8d919a;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 10px;
    position: absolute;
    right: 5px
}

.tw-form-input__tooltip:hover {
    color: #464c59
}

.tw-form-input__error-message {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #d5493b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    text-align: left
}

.tw-form-input__error-message.--center {
    text-align: center
}

.tw-form-input__error-marker-container {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.tw-form-input__error-marker-container.--with-background-color .tw-form-input__error-marker {
    background: #d5493b;
    color: #eef0f2
}

.tw-form-input__error-marker {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    height: 12px;
    justify-content: center;
    margin-right: 4px;
    width: 12px
}

.tw-form-input__caps-lock-message {
    background: #fff7e9;
    border-radius: 8px;
    color: #ff941d;
    font-size: 14px;
    font-weight: 600;
    margin: 10px 0;
    padding: 2px 15px
}

.tw-form-input__caps-lock-message img {
    height: 12px;
    margin: 3px 12px 0 0
}

.tw-form-input+.tw-form-input {
    margin-top: 10px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save,.tw-button {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-touch-callout: none!important;
    -webkit-user-drag: none;
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #27b6ba;
    border: none;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: block;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    outline: none;
    overflow: hidden;
    padding: 0 13px;
    position: relative;
    text-overflow: ellipsis;
    -webkit-transition: all .3s;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    white-space: nowrap
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).\--read-only,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.\--read-only,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.\--read-only,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).\--read-only,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.\--read-only,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.\--read-only,.tw-button.\--read-only {
    cursor: default
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):hover:not(.--read-only),.tw-button:active:not(.--read-only),.tw-button:focus:not(.--read-only),.tw-button:hover:not(.--read-only) {
    background-color:#31a7aa;
    color: #fff
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-save:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.tw-button:active:not(.--read-only) {
    -webkit-transform:translateY(2px);
    transform: translateY(2px)
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__main-container,.tw-button__main-container {
    display: block;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container:empty,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container:empty,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__main-container:empty,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container:empty,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container:empty,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__main-container:empty,.tw-button__main-container:empty {
    display: none
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container.--hidden,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-save__main-container.--hidden,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__main-container.--hidden,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container.--hidden,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container.--hidden,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__main-container.--hidden,.tw-button__main-container.--hidden {
    visibility:hidden
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__loading-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__loading-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__loading-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__loading-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__loading-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__loading-container,.tw-button__loading-container {
    -ms-flex-pack: distribute;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__icon,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__icon,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__icon,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__icon,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__icon,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__icon,.tw-button__icon {
    font-size: 15px;
    margin-right: 5px;
    position: relative;
    top: 2px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__icon:last-child,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__icon:last-child,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview)__icon:last-child,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__icon:last-child,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__icon:last-child,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__icon:last-child,.tw-button__icon:last-child {
    margin-right: 0
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--primary-glass,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--primary-glass,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--primary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass,.tw-button.--primary-glass {
    background-color:transparent;
    border: 1px solid #27b6ba;
    color: #27b6ba
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--primary-glass .ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview)__main-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass .ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass .ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--primary-glass .ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview)__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass .ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit__main-container,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass .ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save__main-container,.tw-button.--primary-glass .tw-button__main-container {
    position:relative;
    top: -1px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--primary-glass: hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--primary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass:hover:not(.--read-only),.tw-button.--primary-glass:hover:not(.--read-only) {
    background-color:#27b6ba;
    color: #fff
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--primary-glass: focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--primary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--primary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--primary-glass:focus:not(.--read-only),.tw-button.--primary-glass:focus:not(.--read-only) {
    background-color:#31a7aa;
    color: #fff
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--secondary,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary,.tw-button.--secondary {
    background-color:#e6e8ec;
    color: #696f7a
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary: active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):hover:not(.--read-only),.tw-button.--secondary:active:not(.--read-only),.tw-button.--secondary:focus:not(.--read-only),.tw-button.--secondary:hover:not(.--read-only) {
    background-color:#d4d6db;
    color: #696f7a
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary-glass,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--secondary-glass,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass,.tw-button.--secondary-glass {
    background-color:transparent;
    border: 1px solid #d4d6db;
    color: #8d919a
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary-glass: active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--secondary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--secondary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--secondary-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--secondary-glass:hover:not(.--read-only),.tw-button.--secondary-glass:active:not(.--read-only),.tw-button.--secondary-glass:focus:not(.--read-only),.tw-button.--secondary-glass:hover:not(.--read-only) {
    background-color:#eef0f2;
    border-color: #b0b4bb
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--special,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--special,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--special,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--special,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--special,.tw-button.--special {
    background-color:#ff941d;
    color: #fff
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--special: focus,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--special:hover,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:focus,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:hover,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:focus,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--special:focus,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--special:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:focus,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:focus,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:hover,.tw-button.--special:focus,.tw-button.--special:hover {
    background-color:#f6892d
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--special: active,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:active,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:active,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--special:active,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:active,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:active,.tw-button.--special:active {
    background-color:#ff941d
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--special: disabled,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:disabled,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--special:disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--special:disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--special:disabled,.tw-button.--special:disabled {
    background-color:#696f7a;
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--danger,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger,.tw-button.--danger {
    background-color:#e95e51
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger: active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger:hover:not(.--read-only),.tw-button.--danger:active:not(.--read-only),.tw-button.--danger:focus:not(.--read-only),.tw-button.--danger:hover:not(.--read-only) {
    background-color:#d5493b;
    color: #fff
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger-glass,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--danger-glass,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass,.tw-button.--danger-glass {
    background-color:transparent;
    border: 1px solid #e95e51;
    color: #e95e51
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger-glass: active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass:hover:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:active:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:focus:not(.--read-only),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass:hover:not(.--read-only),.tw-button.--danger-glass:active:not(.--read-only),.tw-button.--danger-glass:focus:not(.--read-only),.tw-button.--danger-glass:hover:not(.--read-only) {
    background-color:#fbe3e0;
    border-color: #ed766b;
    color: #e95e51
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--danger-glass.--loading,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--danger-glass.--loading,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass.--loading,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--danger-glass.--loading,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--danger-glass.--loading,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--danger-glass.--loading,.tw-button.--danger-glass.--loading {
    border:none
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--full-width,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--full-width,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--full-width,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--full-width,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--full-width,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--full-width,.tw-button.--full-width {
    width:100%
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit:disabled,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save:disabled,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:disabled,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):disabled,.tw-button:disabled {
    background-color: #e6e8ec;
    color: #b0b4bb;
    cursor: default;
    pointer-events: none
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit:disabled:hover,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save:disabled:hover,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview):disabled:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit:disabled:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save:disabled:hover,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview):disabled:hover,.tw-button:disabled:hover {
    color: #b0b4bb
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--padding-wide,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--padding-wide,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--padding-wide,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--padding-wide,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--padding-wide,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--padding-wide,.tw-button.--padding-wide {
    min-width:150px;
    padding: 0 20px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-26,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-26,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-26,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-26,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-26,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-26,.tw-button.--size-26 {
    height:26px;
    min-height: 26px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-26.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-26.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-26.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-26.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-26.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-26.--padding-narrow,.tw-button.--size-26.--padding-narrow {
    padding:0 5px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-28,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-28,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-28,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview),.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-28,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-28,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-28,.tw-button.--size-28 {
    height:28px;
    min-height: 28px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).--size-28.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-28.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-28.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-28.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-28.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-28.--padding-narrow,.tw-button.--size-28.--padding-narrow {
    padding:0 6px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-34,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-34,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-34,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-34,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-34,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-34,.tw-button.--size-34 {
    height:34px;
    min-height: 34px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-34.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-34.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-34.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-34.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-34.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-34.--padding-narrow,.tw-button.--size-34.--padding-narrow {
    padding:0 9px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-42,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-42,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-42,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-42,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-42,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-42,.tw-button.--size-42 {
    height:42px;
    min-height: 42px
}

.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).--size-42.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button: not(.ck-link-actions__preview).ck-button-edit.--size-42.--padding-narrow,.ck-body-wrapper .ck-link-actions .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-42.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).--size-42.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-edit.--size-42.--padding-narrow,.ck-body-wrapper .ck-link-form .ck-button:not(.ck-link-actions__preview).ck-button-save.--size-42.--padding-narrow,.tw-button.--size-42.--padding-narrow {
    padding:0 13px
}

.tw-button-group .tw-button.--primary: not(:first-child) {
    border-left:1px solid #259295
}

.tw-fancy-text-editor {
    position: relative
}

.tw-fancy-text-editor .tw-fancy-text-editor__footer {
    -webkit-touch-callout: none!important;
    -webkit-user-drag: none;
    bottom: 12px;
    position: absolute;
    right: 12px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.tw-fancy-text-editor.--toolbar-hidden .ck.ck-toolbar {
    display: none
}

.tw-fancy-text-editor .ck .ck-toolbar__items>.ck {
    margin: 2px
}

.tw-fancy-text-editor .ck .ck-toolbar__items>.ck:first-child {
    margin-left: 0
}

.tw-fancy-text-editor .ck .ck-toolbar__items>.ck.ck-button {
    background: none
}

.tw-fancy-text-editor .ck .ck-toolbar__items>.ck.ck-button.ck-on,.tw-fancy-text-editor .ck .ck-toolbar__items>.ck.ck-button:hover:not(.ck-disabled) {
    background: #d4d6db
}

.tw-fancy-text-editor .ck .ck-editor__main>.ck-editor__editable {
    border: 1px solid #d4d6db;
    border-radius: 8px;
    min-height: 43px;
    outline: none;
    padding: 11px
}

.tw-fancy-text-editor .ck .ck-editor__main>.ck-editor__editable:not(.ck-editor__nested-editable) {
    padding-bottom: 44px;
    cursor: text;
}

.tw-fancy-text-editor .ck .ck-editor__main>.ck-editor__editable:hover:not(.ck-focused) {
    border-color: #464c59
}

.tw-fancy-text-editor .ck .ck-editor__main>.ck-editor__editable:hover:not(.ck-focused) .ck-placeholder:before {
    color: #323742
}

.tw-fancy-text-editor .ck .ck-editor__main>.ck-editor__editable.ck-focused {
    border-color: #27b6ba;
    border-width: 2px;
    padding: 10px 10px 43px
}

.tw-fancy-text-editor .ck .ck-content {
    font-size: 14px
}

.tw-fancy-text-editor .ck .ck-content h2,.tw-fancy-text-editor .ck .ck-content h3,.tw-fancy-text-editor .ck .ck-content h4 {
    line-height: normal;
    margin: var(--ck-spacing-large) 0
}

.tw-fancy-text-editor .ck .ck-content h2 {
    font-size: 36px
}

.tw-fancy-text-editor .ck .ck-content h3 {
    font-size: 24px
}

.tw-fancy-text-editor .ck .ck-content h4 {
    font-size: 18px
}

.tw-fancy-text-editor .ck .ck-content blockquote,.tw-fancy-text-editor .ck .ck-content ol,.tw-fancy-text-editor .ck .ck-content p,.tw-fancy-text-editor .ck .ck-content pre,.tw-fancy-text-editor .ck .ck-content ul {
    margin: 8px 0
}

.tw-fancy-text-editor .ck .ck-content blockquote:first-child,.tw-fancy-text-editor .ck .ck-content ol:first-child,.tw-fancy-text-editor .ck .ck-content p:first-child,.tw-fancy-text-editor .ck .ck-content pre:first-child,.tw-fancy-text-editor .ck .ck-content ul:first-child {
    margin-top: 0
}

.tw-fancy-text-editor .ck .ck-content blockquote:last-child,.tw-fancy-text-editor .ck .ck-content ol:last-child,.tw-fancy-text-editor .ck .ck-content p:last-child,.tw-fancy-text-editor .ck .ck-content pre:last-child,.tw-fancy-text-editor .ck .ck-content ul:last-child {
    margin-bottom: 0
}

.tw-fancy-text-editor .ck .ck-content ol>li,.tw-fancy-text-editor .ck .ck-content ul>li {
    margin-bottom: 5px;
    margin-top: 5px
}

.tw-fancy-text-editor .ck .ck-content blockquote {
    font-size: inherit;
    line-height: inherit;
    padding: 5px 0 5px 10px
}

.tw-fancy-text-editor .ck .ck-content a {
    color: #27b6ba
}

.tw-fancy-text-editor .ck .ck-content :not(pre)>code,.tw-fancy-text-editor .ck .ck-content pre {
    background: #e6e8ec;
    border-radius: 4px
}

.tw-fancy-text-editor .ck .ck-content pre {
    padding: 5px 10px
}

.tw-fancy-text-editor .ck .ck-content code {
    color: inherit;
    font-family: Menlo,Roboto Mono,Consolas,Monaco,DejaVu Sans Mono,Bitstream Vera Sans Mono,Liberation Mono,sans-serif;
    font-size: .8em
}

.tw-fancy-text-editor .ck .ck-content :not(pre)>code {
    padding: 1px 4px
}

.tw-fancy-text-editor .ck .ck-sticky-panel__content_sticky {
    border-bottom: 2px solid #27b6ba
}

.tw-fancy-text-editor .ck .ck-toolbar {
    background: #fff;
    border: none;
    padding: 0
}

.tw-fancy-text-editor .ck .ck-toolbar .ck-button {
    color: #696f7a;
    padding: 4px
}

.tw-fancy-text-editor .ck .ck-toolbar .ck-button.ck-disabled {
    color: #b0b4bb;
    opacity: 1
}

.tw-fancy-text-editor .ck .ck-dropdown__panel {
    border-radius: 8px!important;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.5)
}

.tw-fancy-text-editor .ck .ck-insert-table-dropdown-grid-box {
    background: #eef0f2;
    border-radius: 2px
}

.tw-fancy-text-editor .ck .ck-insert-table-dropdown-grid-box.ck-on {
    background: #27b6ba
}

.tw-fancy-text-editor .ck .ck-insert-table-dropdown__label {
    font-size: 12px;
    font-weight: 600;
    margin: 8px
}

.tw-fancy-text-editor .ck.ck-link {
    color: #696f7a;
    cursor: pointer
}

.tw-fancy-text-editor .ck.ck-link:not([href]) {
    display: none
}

.tw-fancy-text-editor .ck.ck-link:hover {
    color: #27b6ba
}

.tw-fancy-text-editor .ck.ck-link .ck-link__icon {
    margin-right: 6px;
    width: 16px
}

.tw-fancy-text-editor .ck.ck-link .ck-link__label {
    font-size: 10px
}

.tw-fancy-text-editor .ck .ck-content .mention {
    background: #e9f7f8;
    border-radius: 4px;
    font-weight: 600
}

.tw-fancy-text-editor .ck .ck-tooltip .ck-tooltip__text {
    background: #0d344f;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.2;
    padding: 4.5px 9px
}

.ck-body-wrapper .ck-balloon-panel {
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.5);
    font-size: 14px
}

.ck-body-wrapper .ck-link-form {
    width: 500px
}

.ck-body-wrapper .ck-link-form .ck-labeled-field-view {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ck-body-wrapper .ck-link-form .ck-input-text {
    height: 28px
}

.ck-body-wrapper .ck-link-actions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.ck-body-wrapper .ck-link-actions .ck-link-actions__preview {
    border: none!important;
    line-height: normal!important;
    padding: 0!important
}

.ck-body-wrapper .ck-link-actions .ck-link-actions__preview .ck-button__label {
    max-width: 300px!important
}

.ck-body-wrapper .ck-mentions {
    margin: 0;
    max-width: 300px;
    padding: 0
}

:root {
    --ck-font-size-normal: 14px!important;
    --ck-icon-size: 16px!important;
    --ck-spacing-tiny: 6px!important;
    --ck-spacing-standard: 10px!important;
    --ck-spacing-large: 10px!important;
    --ck-border-radius: 4px!important;
    --ck-drop-shadow: 0 1px 4px 0 rgba(0,0,0,.5)!important;
    --ck-color-engine-placeholder-text: #b0b4bb!important;
    --ck-color-mention-text: inherit!important;
    --ck-color-base-background: #fff!important;
    --ck-color-toolbar-border: #d4d6db!important;
    --ck-insert-table-dropdown-box-width: 14px!important;
    --ck-insert-table-dropdown-box-height: 14px!important;
    --ck-insert-table-dropdown-box-margin: 2px!important;
    --ck-insert-table-dropdown-padding: 10px!important;
    --ck-color-link-default: #27b6ba!important;
    --ck-color-link-selected-background: none!important;
    --ck-color-tooltip-background: #0d344f!important;
    --ck-color-tooltip-text: #fff!important;
    --ck-tooltip-arrow-size: 6px!important
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes zoom-in {
    0% {
        -webkit-transform: scale(.7) translate(-50%,-50%);
        transform: scale(.7) translate(-50%,-50%)
    }

    to {
        -webkit-transform: scale(1) translate(-50%,-50%);
        transform: scale(1) translate(-50%,-50%)
    }
}

@keyframes zoom-in {
    0% {
        -webkit-transform: scale(.7) translate(-50%,-50%);
        transform: scale(.7) translate(-50%,-50%)
    }

    to {
        -webkit-transform: scale(1) translate(-50%,-50%);
        transform: scale(1) translate(-50%,-50%)
    }
}

.tw-design__workaround-stylus-at-css {
    display: none
}

.tw-mentionable-item {
    margin-bottom: 0
}

.tw-mentionable-item__title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.modify-input{
    border: 2px solid #27B6BA;
    border-radius: 8px;
    color: #0d1017;
    font-size: 18px;
    font-weight: 600;
    min-height: 34px;
    width: 100%;
    padding-left: 10px;
}

.checklist-modify-input{
    border: 2px solid #27B6BA;
    border-radius: 8px;
    color: #696f7a;
    font-size: 14px;
    font-weight: 600;
    min-height: 25px;
    width: 100%;
    padding: 2px;
    padding-left: 10px;
}

.checklist-input{
    border: 2px solid #27B6BA;
    border-radius: 8px;
    color: #696f7a;
    font-size: 14px;
    font-weight: 600;
    min-height: 25px;
    width: 100%;
    padding: 2px;
    padding-left: 10px;
}
