.main-layout-content{
    left: 54px;
    top: 54px;
}
.main-top-nav{
    height: 54px;
    background-color: #323742;
}
.top-nav-layout{
    display: flex;
    height: 100%;
    -webkit-box-pack: justify;
    color: red;
    gap: 10px;
    justify-content: space-between;
    padding-right: 10px;
}
.top-nav-left-section{
    align-items: center;
    display: flex;
    flex: 1;
    gap: 10px;
}
.workspace-menu-button{
    align-items: center;
    box-sizing: border-box;
    color: #f1f7fb;
    display: flex;
    font-size: 14px;
    gap: 8px;
    height: 52px;
    justify-content: flex-start;
    min-width: 200px;
    padding: 0 10px;
    position: relative;
}
.workspace-avatar-image{
    position: relative;
}
.workspace-avatar-image__avatar{
    background-color: #fff;
    box-sizing: border-box;
    display: block;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 32px;
    border-radius: 20%;
}
/*
.workspace-menu-button__avatar{
    border-radius: 20%;
}
*/
.workspace-avatar-image__text{
    align-items: center;
    background-color: #eef0f2;
    border-radius: 20%;
    color: #8d919a;
    display: flex;
    font-size: 14PX;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    line-height: 30px;
    position: relative;
}
.workspace-menu-button>span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
}
.workspace-menu-button__workspace-name{
    display: block;
    padding-left: 10px;
    padding-right: 15px;
}
.workspace-menu-button__icon{
    font-weight: 700;
    margin-left: auto;
}
.new-global-search{
    align-self: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: rgba(255, 255, 255, 0.5);
    flex: 1;
    /*max-width: 260px;*/
    min-width: 260px;
    overflow: hidden;
    position: relative;
}
.new-global-search__search-box{
    color: inherit;
    display: flex;
    font-size: 14px;
    height: 34px;
    overflow: hidden;
    position: relative;
    transition: all .2s;
    width: 100%;
}
.new-global-search__search-icon{
    font-size: 15px;
    padding: 7px 5px 7px 10px;
}
.new-global-search__input{
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    flex: 1;
    outline: none;
    text-overflow: ellipsis;
    width: 0;
}
.top-nav-layout-right{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}
.nav-item{
    height: 100%;
    width: 46px;
    color: #323742;
    font-weight: 600;
}
.user-menu-button__wrapper{
    border-radius: 9999px;
    padding: 1px;
    position: relative;
    top: 8px;
}
.user-menu-button__wrapper img{
    border-radius: 50%;
    height: 32px;
    height: 32px;
}
.uwer-menu-button__status-wrapper{
    bottom: 2px;
    right: 9px;
    position: absolute;
}
.user-online-indicator{
    background-color: #53b166;
    border: 2px solid #1d222b;
    border-radius: 50%;
    position: relative;
    transition: background-color .2s ease-in;
}
.main-layout-for-non-mobile__left-nav{
    background-color: rgb(228, 228, 228);
    border-top-left-radius: 18px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    margin-top: 54px;
    padding-top: 0;
    width: 54px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 0;
}
.main-layout-for-non-mobile__add-menu{
    align-items: center;
    display: flex;
    height: fit-content;
    justify-content: center;
    margin-top: 10px;
    width: 54px;
}
.global-add-button{
    background: linear-gradient(315deg,#27b6ba 14.64%,#50d3b0 85.36%);
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    height: 34px;
    justify-content: center;
    outline: none;
    width: 34px;
}

.main-laytout__content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 54px;
    top: 54px;
    z-index: 0;
}
.project-page{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}
.project-header{
    background-color: #fff;
    position: relative;
}
.sub-header{
    align-items: center;
    background: #fff;
    color: #696f7a;
    display: flex;
    flex-wrap: nowrap;
    height: fit-content;
    justify-content: space-between;
    padding: 10px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}
.project-header__left-section{
    color: #0d1017;
    font-size: 16px;
    overflow: hidden;
    padding: 0 9px 0 0;
}
.project-header__back-button{
    background-color: #eef0f2;
    border-radius: 8px;
    height: 34px;
    transition: all .05s ease-in-out;
    width: 34px;
    align-items: center;
    border: none;
    color: #696f7a;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    outline: none;
    float: left;
}
.project-header__back-arrow{
    color: #696f7a;
    font-size: 20px;
    font-weight: 600;
}
.project-header__title{
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}
.editable-text-field{
    align-items: center;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    height: 28px;
    outline: none;
    padding: 8px 5px 2px;
    width: 100%;
}
.editable-text-field__text{
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.sub-header__section{
    align-items: center;
    box-sizing: border-box;
    display: flex;
}
.sub-header__section:last-child{
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.user-avatar-group{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
}
.user-avatar-group__avatar-container{
    height: 26px;
    position: relative;
    width: 26px;
    align-items: center;
    display: flex;
}
.user-avatar-group__avatar{
    border: 2px solid #fff;
    border-radius: 9999px;
    height: 24px;
    width: 24px;
    background-color: black;
}
.user-avatar{
    display: inline-block;
}
.avatar{
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}
.avatar__img-wrapper{
    background-color: #96c0dd;
    color: #fff;
    border-color: #fff;
    border-radius: 50%;
    border-style: solid;
    font-weight: 600;
    overflow: hidden;
}
.avatar__children{
    text-align: center;
}
.toolbar-button{
    background-color: #eef0f2;
    border: 1px solid transparent;
    color: #323742;
}
.project-header__chat-button{
    padding: 7px 12px;
}
.horizontal-scroller{
    overflow: hidden;
    position: relative;
}
.horizontal-scroller__scroller{
    align-items: center;
    display: flex;
    gap: 5px;
    overflow-x: scroll;
}
.--size-34{
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
    height: 34px;
}
.tab-button__split{
    padding-left: 0;
    padding-right: 0;
    background-color: #1d222b;
    color: #fff;
    font-size: 14px;
    height: 34px;
    align-items: stretch;
    border-radius: 9999px;
    display: flex;
    font-weight: 600;
    transition: background-color .2s ease-out;
}
.click-logic{
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
    text-align: left;
}
.tab-button__split__main{
    padding-left: 15px;
    padding-right: 10px;
    white-space: nowrap;
    align-items: center;
    display: flex;
}
.tab-button{
    align-items: center;
    border-radius: 9999px;
    color: #323742;
    display: flex;
    font-weight: 600;
    transition: background-color .2s ease-out;
    font-size: 14px;
    height: 34px;
    padding-left: 15px;
    padding-right: 15px;
}

.kanban-columns{
    position: absolute;
    right: 0;
    left: 0;
    top: 130px;
    padding-left: 10px;
    align-items: stretch;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    bottom: 30px !important ;
}
.kanban-column{
    height: calc(100% - 10px);
    margin: 0 5px 10px;
}
.kanban-board-columns__column{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}
.tasklist:not(.--wide){
    border-radius: 8px;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 300px;
    position: relative;
    transform: translateZ(0);
    width: 300px;
}
.tasklist__frame-top{
    border-radius: 8px;
    margin-bottom: 5px;
    overflow: hidden;
}
.tasklist-header__left-section{
    flex: 1 1;
    overflow: hidden;
    padding-right: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tasklist-header__editable-text-field-container{
    max-width: 600px;
    width: 100%;
}
.editable-text-field .--plain-text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
    border: 1px solid transparent;
    border-radius: 8px;
    box-sizing: border-box;
    height: 2px;
    outline: none;
    padding: 2px 5px;
    width: 100%;
}
.editable-text-field__text{
    display: block;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.editable-text-field__icon{
    margin-left: 5px;
    visibility: hidden;
}
.kanban-items{
    flex: 0 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.tasklist__container{
    height: 100% !important;
    width: 100% !important;
    background-color: gray;
}
.tasklist__frame-bottom{
    flex-shrink: 0;
    opacity: 1;
    transition: opacity .3s;
}
.tasklist-footer{
    padding: 2px 5px 2px 10px;
    background: #e6e8ec;
    border-radius: 8px;
    align-items: center;
    box-sizing: border-box;
    color: #696f71;
    display: flex;
    justify-content: space-between;
}
.tasklist-footer__Wrapper{
    align-items: center;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    width: 100%;
}